name: Dizi Link Scraper Bot

on:
  schedule:
    - cron: '0 0 * * *' # Her gün gece yarısı çalışır
  workflow_dispatch: # GitHub arayüzünden manuel tetiklemeye izin verir

jobs:
  scrape-links:
    runs-on: ubuntu-latest

    steps:
    - name: Depoyu Klonla
      uses: actions/checkout@v4

    - name: Python Kurulumu
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'

    - name: Kütüphaneleri Yükle ve Tarayıcıyı Kur
      run: |
        python -m pip install --upgrade pip
        # Kütüphaneleri doğrudan burada yüklüyoruz
        pip install playwright beautifulsoup4
        # Playwright için gerekli olan arkaplan tarayıcısını kuruyoruz
        playwright install chromium

    - name: Scraper Scriptini Çalıştır
      run: python scraper.py
